.icon-arrow-down { width: 13px; height: 7px; }
.icon-arrow-left { width: 7px; height: 13px; }
.icon-arrow-right { width: 7px; height: 13px; }
.icon-arrow-up { width: 13px; height: 7px; }
.icon-chat { width: 24px; height: 24px; }
.icon-checkbox-checked { width: 11px; height: 11px; }
.icon-checkbox-indeterminate { width: 11px; height: 11px; }
.icon-checkbox { width: 11px; height: 11px; }
.icon-checkmark { width: 16px; height: 14px; }
.icon-clipboard { width: 16px; height: 16px; }
.icon-clock { width: 16px; height: 16px; }
.icon-cloud { width: 16px; height: 16px; }
.icon-cog { width: 20px; height: 20px; }
.icon-crown { width: 62px; height: 27px; }
.icon-dashboard { width: 24px; height: 24px; }
.icon-diagonal-cross { width: 13px; height: 13px; }
.icon-download { width: 14px; height: 13px; }
.icon-draggable { width: 16px; height: 16px; }
.icon-dropdown-list { width: 19px; height: 14px; }
.icon-email-button { width: 29px; height: 24px; }
.icon-email { width: 17px; height: 17px; }
.icon-eyedropper { width: 17px; height: 17px; }
.icon-facebook-button { width: 29px; height: 24px; }
.icon-facebook { width: 17px; height: 17px; }
.icon-form { width: 17px; height: 17px; }
.icon-full-logo { width: 175px; height: 50px; }
.icon-github-button { width: 29px; height: 24px; }
.icon-gitlab-button { width: 29px; height: 24px; }
.icon-google-button { width: 29px; height: 24px; }
.icon-group { width: 24px; height: 24px; }
.icon-help { width: 16px; height: 16px; }
.icon-important { width: 16px; height: 16px; }
.icon-in-process { width: 64px; height: 64px; }
.icon-info { width: 5px; height: 11px; }
.icon-line-left-arrow { width: 34px; height: 7px; }
.icon-line-right-arrow { width: 34px; height: 7px; }
.icon-linkedin-button { width: 29px; height: 24px; }
.icon-list { width: 16px; height: 16px; }
.icon-loading { width: 16px; height: 16px; }
.icon-lock-open { width: 16px; height: 16px; }
.icon-lock { width: 16px; height: 16px; }
.icon-logo { width: 42px; height: 36px; }
.icon-logotype { width: 91px; height: 15px; }
.icon-long-arrow-right { width: 11px; height: 11px; }
.icon-magnifier { width: 15px; height: 15px; }
.icon-marker { width: 17px; height: 19px; }
.icon-message { width: 24px; height: 24px; }
.icon-minus-small { width: 16px; height: 16px; }
.icon-minus { width: 20px; height: 20px; }
.icon-mood-bad { width: 60px; height: 59px; }
.icon-mood-good { width: 60px; height: 59px; }
.icon-mood-ok { width: 60px; height: 59px; }
.icon-mood-superbad { width: 60px; height: 59px; }
.icon-mood-supergood { width: 60px; height: 59px; }
.icon-mute { width: 16px; height: 16px; }
.icon-note { width: 16px; height: 16px; }
.icon-oauth2-button { width: 29px; height: 24px; }
.icon-office365-button { width: 29px; height: 24px; }
.icon-one-ticket { width: 48px; height: 10px; }
.icon-organization { width: 16px; height: 16px; }
.icon-outbound-calls { width: 17px; height: 17px; }
.icon-overviews { width: 24px; height: 24px; }
.icon-package { width: 16px; height: 16px; }
.icon-paperclip { width: 28px; height: 28px; }
.icon-pen { width: 16px; height: 16px; }
.icon-person { width: 24px; height: 24px; }
.icon-phone { width: 17px; height: 17px; }
.icon-plus-small { width: 16px; height: 16px; }
.icon-plus { width: 20px; height: 20px; }
.icon-printer { width: 24px; height: 24px; }
.icon-radio-checked { width: 11px; height: 11px; }
.icon-radio { width: 11px; height: 11px; }
.icon-received-calls { width: 17px; height: 17px; }
.icon-reload { width: 16px; height: 16px; }
.icon-reopening { width: 68px; height: 47px; }
.icon-reply-all { width: 16px; height: 16px; }
.icon-reply { width: 16px; height: 16px; }
.icon-report { width: 20px; height: 20px; }
.icon-searchdetail { width: 18px; height: 14px; }
.icon-signout { width: 15px; height: 19px; }
.icon-small-dot { width: 16px; height: 16px; }
.icon-split { width: 16px; height: 16px; }
.icon-status-modified-outer-circle { width: 16px; height: 16px; }
.icon-status { width: 16px; height: 16px; }
.icon-stopwatch { width: 77px; height: 83px; }
.icon-switchView { width: 19px; height: 18px; }
.icon-task-state { width: 16px; height: 16px; }
.icon-team { width: 16px; height: 16px; }
.icon-telegram { width: 17px; height: 17px; }
.icon-templates { width: 24px; height: 24px; }
.icon-tools { width: 24px; height: 24px; }
.icon-total-tickets { width: 48px; height: 83px; }
.icon-trash { width: 16px; height: 16px; }
.icon-twitter-button { width: 29px; height: 24px; }
.icon-twitter { width: 17px; height: 17px; }
.icon-unmute { width: 16px; height: 16px; }
.icon-user { width: 16px; height: 16px; }
.icon-web { width: 17px; height: 17px; }
.icon-zoom-in { width: 20px; height: 20px; }
.icon-zoom-out { width: 20px; height: 20px; }
.icon-whatsapp { width: 17px; height: 17px; }